body {
  padding: 0;
  margin: 0;
}

.toDoForm {
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title {
  width: 80%;
  padding: 7px;
  margin: 5px;
  border: 3px solid #39cf89;
}

.urgent {
  width: 34px;
  height: 34px;
  border: 3px solid #39cf89;
  /* appearance: none; */
  border-color: #39cf89;
  /* background-color: seagreen; */
}

.urgent .checked {
  border-color: red;
  background-color: lightpink;
}

.submit {
  width: 97%;
  background-color: #39cf89;
  color: white;
  margin: 10px 5px;
  padding: 4px;
}
